body{
    background-color: white;
}

.botob{
    color:black;
    border:solid;
    border-color: slategrey;
    border-style: double;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.numero{
    
}

.operacion{
    
}