body{
    background-color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;/* hola*/
    
}
#seccion1{
    background-color:cornsilk;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;

}
#seccion2{
    background-color:bisque;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    max-width: 400px;

}
#seccion3{
    background-color:beige;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    max-width: 400px;
}
#seccion4{
    background-color:cornsilk;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    max-width: 400px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
}
#seccion5{
    background-color:bisque;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    max-width: 400px;
}

.imagenes{
    
    margin-right: 00px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
}
#imagenprincipal{
    /*! margin: 10px; */
    /*! margin-top: 10px; */
    /*! padding: 10px; */ /* Relleno */
    border:solid;
    border-color: #a57400;
}