body{
    /* Implica que todo el cuerpo tendra el fondo, el color y la 
    tipografia que indico en caso de que no haya otro mandato
    más especifico. */
    background:-moz-linear-gradient(right,burlywood, cornsilk);
    background-color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;/* hola*/
    color:black;
}
#seccion1{
    /* Primera seccion:
    color de fondo
    margen
    padding
    borde
    color borde */
    /* background-color:cornsilk; */
    background:-moz-linear-gradient(left,burlywood, cornsilk);
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;

}
#seccion2{
        /* Segunda seccion:
    color de fondo
    margen
    padding
    borde
    color borde 
    anchura máxima del contenedor*/
    background-color:bisque;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    max-width: 400px;

}

#seccion3{
        /* Primera seccion:
    color de fondo
    margen
    padding
    borde
    color borde
    anchura máxima del contenedor
    posicion -> relative
    float -> left
    estos dos ultimos colocan el contenedor en el lado izquiero, es decir,
    lo mas cercano posible al bloque anterio*/
    background-color:beige;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    max-width: 400px;
    position: relative;
    float: left;
}
#seccion4{
            /* Primera seccion:
    color de fondo
    margen
    padding
    borde
    color borde
    anchura máxima del contenedor
    posicion -> relative
    float -> left
    estos dos ultimos colocan el contenedor en el lado izquiero, es decir,
    lo mas cercano posible al bloque anterior*/
    background-color:cornsilk;
    margin: 10px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 0px;
    max-width: 400px;
    padding: 19px; /* Relleno */
    border:solid;
    border-color: black;
    position: relative;
    float: left;
}
#seccion5{
            /* Primera seccion:
    color de fondo
    margen
    padding
    borde
    color borde
    anchura máxima del contenedor
    posicion -> relative
    float -> right
    estos dos ultimos colocan el contenedor en el lado derecho, es decir,
    lo mas lejano posible al bloque anterior*/
    background-color:bisque;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    max-width: 400px;
    position: relative;
    float: right;


}

.imagenes{
    /* De este modo muevo hacia la izquierda las imagenes 
    correspondientes a cada Dojo */
    margin-right: 00px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    font-style: italic;
    }
}
#imagenprincipal{
    /* Borde
    Color del borde
    Pongo margen a la derecha para situar la imagen justo
    encima de la informacion */
    border:solid;
    border-color: #a57400;
    margin-right: 75px;
}
h3{
 
    text-decoration: underline;

    }

}
