body {
    background-color: lightblue;
    color: black;
  }
  
  h1 {
    background-color: yellow;
    color: green;
  }
  
  p {
    background-color: orange;
  }

  /* Forma:
  Selector{
      propiedad:valor;
   } 
   
   Selectores en orden de prioridad:
   id > class > etiqueta */