body {
    background-color: lightblue;
    color:black;
  }
  
  .migrupo {
    background-color: blue;
    color: white
  }
  
  p {
    background-color: orange;
  }

/* Las clases se llaman en el CSS
mediante el uso de .clase */